        <div id="copyright">
            <ul>
                <li>&copy;lsqyRobot</li>
                <li>邮箱 <i class="fa fa-heart"></i> lsqyRobot@gmail.com</li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
                <span id="busuanzi_container_site_pv">访问量看似<span id="busuanzi_value_site_pv"></span>次</span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span> 
			<% } %>
        </div>
